In [2]:
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import pandas_ta
import warnings
warnings.filterwarnings('ignore')

In [3]:
sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

symbols_list = sp500['Symbol'].unique().tolist()

end_date = '2023-09-27'

start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)

df = yf.download(tickers=symbols_list,
                 start=start_date,
                 end=end_date).stack()

df.index.names = ['date', 'ticker']

df.columns = df.columns.str.lower()

df

[*********************100%%**********************]  503 of 503 completed

1 Failed download:
['VLTO']: Exception("%ticker%: Data doesn't exist for startDate = 1443499200, endDate = 1695787200")

Price               adj close       close        high         low        open  \
date       ticker
2015-09-29 A        31.534706   33.740002   34.060001   33.240002   33.360001
           AAL      37.361622   39.180000   39.770000   38.790001   39.049999
           AAPL     24.716068   27.264999   28.377501   26.965000   28.207500
           ABBV     36.674240   52.790001   54.189999   51.880001   53.099998
           ABT      33.644737   39.500000   40.150002   39.029999   39.259998
...                       ...         ...         ...         ...         ...
2023-09-26 YUM     123.426186  124.010002  124.739998  123.449997  124.239998
           ZBH     111.992920  112.459999  117.110001  112.419998  116.769997
           ZBRA    223.960007  223.960007  226.649994  222.580002  225.970001
           ZION     33.581326   33.990002   34.700001   33.840000   33.840000
           ZTS     176.048233  176.869995  178.449997  176.270004  176.580002

Price                   volume
date       ticker
2015-09-29 A         2252400.0
           AAL       7478800.0
           AAPL    293461600.0
           ABBV     12842800.0
           ABT      12287500.0
...                        ...
2023-09-26 YUM       1500600.0
           ZBH       3610500.0
           ZBRA       355400.0
           ZION      1586100.0
           ZTS       1463200.0

[993179 rows x 6 columns]